<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Lolstreamtr</title>
    <link rel="stylesheet" href="/stylesheets/index.css" type="text/css">    
</head>
<body>
    
<div class="header">

    <div class="header-container">
        <ul class="header-container-list">
            <li><a href="#">
                   anasayfa
                   </a></li>
            <li><a href="#">
                   en çok izlenenler
                   </a></li>
            <li><a href="#">
                   şampiyonlar
                   </a></li>
            <li><a href="#">
                   istatikler
                   </a></li>
        </ul>




    </div>

</div>

<div class="clear"></div>

<div class="body">
   <div class="body-inner">
       <div class="logo"></div>
       <div class="clear"></div>

       <input type="text" placeholder="Write a summoner name" class="searchbox">
       
   </div> 
    
    
</div>













</body>

</html>